.myCampaings {
  width: 100%;
  height: 100vh;
  background-color: #FAFBFC;
}

.rubrig {
  width: 146px;
  height: 25px;
  background-color: #FAFBFC;
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 2%;
  margin-left: 2%;
}

.table {
  width: 95%;
  height: 81%;
  background-color: white;
  margin-top: 2%;
  margin-left: 2%;
}

.lists {
  width: 90%;
  height: 60%;
  margin-top: 4%;
  margin-left: 4%;
  padding-right: 7%;
  overflow-y: scroll;
}

.filtr {
  width: 108px;
  height: 30px;
  margin-left: 4%;
  margin-top: 5%;
  border: 1px;
  border-style: solid;
  border-color: #D0D0D0;
}

.miniHead {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 40px;
}

.infoAndEditPart {
  width: 101%;
  height: 40px;
}

.InfoCompaings {
  display: flex;
  justify-content: space-between;
  width: 101%;
  height: 40px;
  background-color: white;
}

.types {
  width: 130px;
  height: 40px;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #9F9F9F;
  background-color: white;
}

.types2 {
  width: 130px;
  height: 40px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white;
  color: #9F9F9F;
}

.editCompaing:hover {
  color: black;
  cursor: pointer;
}

.stopAndEditPart {
  position: relative;
  width: 13%;
  height: 50px;
  background-color: white;
  border: solid 1px;
  border-color: #9F9F9F;
  border-radius: 4px;
  margin-top: -1%;
  left: 87%;
}

.stopPage {
  position: absolute;
  width: 100%;
  height: 120%;
  background: none;
  top: 0;
  right: 0;
}

.stopCampaign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #777777;
  opacity: 0.4;
  z-index: 1;
}

.warningStopCampaign {
  position: absolute;
  width: 30%;
  height: 25%;
  top: 30%;
  left: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  visibility: visible;
  z-index: 1;
}

.stopIcon {
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9F9F9F;
}

#officeName {
  font-size: 14px;
  color: black;
}

#liked {
  margin-left: 5%;
  font-size: 13px;
  color: red;
}

#pass {
  margin-left: 5%;
  font-size: 13px;
  color: black;
}

.typeGenderAge {
  font-size: 13px;
  color: #9F9F9F;
}

.editStop {
  width: 100%;
  height: 50%;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.editStop:hover {
  color: red;
  cursor: pointer;
}

.message {
  width: 100%;
  height: 50%;
  text-align: center;
  background-color: white;
  display: grid;
  align-items: center;
  justify-content: center;
}

.canselAndStopButtons {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttonCansel {
  width: 129px;
  height: 45px;
  background-color: white;
  border: 2px solid;
  border-color: black;
  font-size: 18px;
}

.buttonCansel:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.stopButton {
  width: 245px;
  height: 45px;
  background-color: white;
  border: 2px solid;
  border-color: black;
  font-size: 18px;
}

.stopButton:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
