.addCampaingBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125%;
  background-color: #777777;
  opacity: 0.3;
  z-index: 1;
}

.addCampaingPage {
  z-index: 2;
  position: relative;
  width: 1118px;
  height: 784px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: -118%;
}

.newCampaingWay {
  width: 100%;
  height: 85%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.campaingAdd {
  width: 45%;
  height: 80%;
  background-color: white;
}

.detailsWay {
  width: 35%;
  height: 80%;
  background-color: white;
}

.CampaignName {
  width: 100%;
  height: 25%;
  background-color: white;
  display: grid;
  align-content: space-around;
  justify-content: start;
}

.styleCampaign {
  width: 100%;
  height: 73.5%;
  background-color: white;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.campaignNameInput {
  width: 370px;
  height: 36px;
  border: solid 2px;
  border-color: #9F9F9F;
  border-radius: 4px;
  margin-top: 2%;
  font-size: 18px;
}

.singleOffer {
  width: 47%;
  height: 100%;
  background-color: white;
}

.multipleOffer {
  width: 47%;
  height: 100%;
  background-color: white;
}

.fotoSingle {
  width: 100%;
  height: 80%;
  background-image: url("../../SingleOffer.png");
  background-repeat: no-repeat;
  background-size: 100% 140%;
  margin-top: 2%;
}

.fotoMultiple {
  width: 100%;
  height: 80%;
  background-image: url("../../multifleOffer.png");
  background-repeat: no-repeat;
  background-size: 100% 145%;
  margin-top: 1%;
}

label input {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

label .inputRadio {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  margin-left: 42.5%;
  margin-top: 5%;
  border: 1px solid;
  border-color: #777777;
  color: white;
  font-size: 16px;
}

.inputRadio:hover {
  cursor: pointer;
}

label input:checked ~ .inputRadio {
  background-color: red;
}

.campaignDetailsText {
  width: 370px;
  height: 72px;
  border: solid 2px;
  border-color: #9F9F9F;
  border-radius: 4px;
  margin-top: 2%;
  font-size: 18px;
  resize: none;
}

.ageRange {
  width: 239px;
  margin-left: 35%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.slider {
  width: 239px;
  margin-left: 35%;
  background-color: white;
}

#Slider .MuiSlider-track {
  height: 2px;
  display: block;
  position: absolute;
  border-radius: 1px;
  background-color: red;
}
#Slider .MuiSlider-thumb {
  width: 12px;
  height: 12px;
  display: flex;
  outline: 0;
  position: absolute;
  box-sizing: border-box;
  margin-top: -5px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  margin-left: -6px;
  border-radius: 50%;
  justify-content: center;
  background-color: white;
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.MaleOrFemale {
  width: 160px;
  height: 30px;
  background-color: blueviolet;
  margin-left: 55%;
  margin-top: 2%;
}

.male {
  width: 50%;
  height: 100%;
  border: solid 1px;
  border-color: black;
  background-color: white;
}

.male:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.browseAndText {
  width: 70%;
  height: 30px;
  background-color: white;
  margin-top: 10%;
  margin-left: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.browse {
  width: 80px;
  height: 100%;
  background-color: red;
  color: white;
  border: solid 0;
}

.browse:hover {
  background-color: #DA022C;
  cursor: pointer;
}

.canselAndRun {
  width: 100%;
  height: 80px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.runAndCansel {
  width: 315px;
  height: 40px;
  background: none;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.buttonRun {
  width: 145px;
  height: 45px;
  background-color: red;
  border: solid 0;
  font-size: 18px;
  color: white;
}

.canselButton {
  width: 145px;
  height: 45px;
  background-color: white;
  border: 2px solid;
  border-color: black;
  font-size: 18px;
}

.canselButton:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.buttonRun:hover {
  background-color: #DA022C;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
